pkgbase = php-mongo
	pkgdesc = Officially supported PHP driver for MongoDB
	pkgver = 1.4.3
	pkgrel = 1
	url = http://www.mongodb.org/display/DOCS/PHP+Language+Center
	arch = i686
	arch = x86_64
	license = APACHE
	depends = php
	backup = etc/php/conf.d/mongo.ini
	source = http://pecl.php.net/get/mongo-1.4.3.tgz
	source = mongo.ini
	sha256sums = 43686e8c9fabfec6852fa42eb664aa662a6d423b4bd3eba41f42514892d8d4a4
	sha256sums = c89685eee842d5c3a85149a5bb8e310e62bf1a17f94183bb66401593ab2b191b

pkgname = php-mongo

