pkgbase = php-mongo
	pkgdesc = Officially supported PHP driver for MongoDB
	pkgver = 1.5.0
	pkgrel = 1
	url = http://www.mongodb.org/display/DOCS/PHP+Language+Center
	arch = i686
	arch = x86_64
	license = APACHE
	depends = php
	backup = etc/php/conf.d/mongo.ini
	source = http://pecl.php.net/get/mongo-1.5.0.tgz
	source = mongo.ini
	sha256sums = eca10bfa48ebb4d50ce10a98546f9e38d7f0fa614e75dd72003a1f07a37b4283
	sha256sums = c89685eee842d5c3a85149a5bb8e310e62bf1a17f94183bb66401593ab2b191b

pkgname = php-mongo

